@import "variables.scss";

// Framer motion
// No colors w/o vars
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  &:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $borderColor;
  }
}

.main {
  grid-column: span 3;
  background-color: $columnsBgColor;
}

.btnWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  background-color: transparent;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-out;
  padding: 0.5rem;
  &:hover {
    background-color: $btnBgColorHover;
  }
}

.headerLabel {
  display: flex;
  align-items: flex-end;
}

.headerText {
  font-size: 2rem;
  padding: 0.5rem;
  animation: fadeOut 1s;
  width: 16rem;
  text-align: center;
}

.hour {
  display: grid;
  text-align: center;
  animation: fadeOut 1s;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(12, 8.4rem) 4.8rem;
  justify-content: center;
}

.weatherIcon {
  width: 6.4rem;
}

.temp {
  font-size: 1.6rem;
  animation: fadeOut 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.time {
  font-size: 1.6rem;
}

.weatherMode {
  display: grid;
  grid-row-gap: 0.5rem;
  margin-top: 0.5rem;
}

.weatherModeBtn {
  padding: 0.2rem;
}
