@import "variables.scss";

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: $black;
}

button:hover {
  cursor: pointer;
}

.content-box {
  font: $font;
  font-weight: 600;
  display: grid;
  grid-template-columns: 68rem 20rem 20rem;
  grid-template-rows: 25rem 21.5rem;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  width: 100%;
  justify-content: center;
  color: $fontColor;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.column {
  border-radius: 5px;
  padding: 5px;
  border-radius: 1.6rem;
  border: 1px solid $borderColor;
}

.opacity-medium {
  color: $opacityColorMedium;
}

.opacity-low {
  color: $opacityColorLow;
}

.glow {
  filter: drop-shadow(0 0 1rem rgb(156, 156, 156));
}

.icon-img {
  height: 12.8rem;
  width: 12.8rem;
}

.btnIcon {
  width: 2rem;
  height: 2rem;
}
