$columnsBgColor: rgb(29, 40, 55);
$columnsBgColorBlack: rgb(18, 18, 18);
$borderColor: rgb(255 255 255 / 15%);
$black: rgb(0, 0, 0);
$opacityColorMedium: rgb(255 255 255 / 60%);
$opacityColorLow: rgb(255 255 255 / 45%);
$fontColor: aliceblue;
$font:
  1.4rem "Century Gothic",
  Futura,
  sans-serif;
$btnBgColorHover: rgb(0 0 0 / 25%);
$searchColor: #aaa;
$inputBgColor: #111;
$inputBgColorHover: #222;
$inputBorderFocus: skyblue;
