@import "variables.scss";

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: $bgColor;
}

input {
  width: 95rem !important;
}

button:hover {
  cursor: pointer;
}

.input-box {
  margin: 20px auto;
  max-width: 80rem;
  color: gray;
  font: $font;
  background-color: gray;
}

.content-box {
  font: $font;
  font-weight: 600;
  display: grid;
  grid-template-columns: 65rem 20rem 20rem;
  grid-template-rows: 25rem 25rem;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  width: 100%;
  justify-content: center;
  color: $fontColor;
}

.column {
  border-radius: 5px;
  padding: 5px;
  border-radius: 1.6rem;
  border: 1px solid $borderColor;
}

.opacity-medium {
  color: $opacityColorMedium;
}

.opacity-low {
  color: $opacityColorLow;
}

.glow {
  filter: drop-shadow(0 0 1rem rgb(156, 156, 156));
}

.icon-img {
  height: 12.8rem;
  width: 12.8rem;
}
